img{
    width: 100px;
}
.loginHeader{
    text-align: center;
}
.google{
    
    background-color: red;
    padding: 15px;
    border-radius: 5px;
    border-style: none;
    color: white;
    font-weight: bolder;
}