.dddd{
    display: flex;
    justify-content: center;
    list-style: none;
   
 }
 .dddd li{
    margin: 30px;
    padding: 15px;
    font-weight: bolder;
    color: white;
 }
 .global{
   font-size: 50px;
   color: rgb(0, 255, 128);
   
   font-family: monospace;
   font-weight: bolder;
 }
 .dddd li:hover{
   background-color: rgba(2, 2, 2,0.2);
   color: white;
 }